Repository torruuu/zinx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js,astro}": "eslint --fix",
  "src/**/*.{astro,css,scss}": "stylelint --fix"
}

feat: multilanguages config with i18n
  astro.config.mjs
  src/assets/styles/_variables.scss
  src/components/nav/LogoNav.astro
  src/components/svg/LogoZinxSvg.astro
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/Nav.astro
  src/pages/[lang]/index.astro
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

feat: added vue and its necessary configuration
  .eslintrc.cjs
  .lintstagedrc
  .stylelintrc.json
  astro.config.mjs
  package-lock.json
  package.json
  src/i18n/utils.ts
  tsconfig.json
Due: eslint --fix

feat: languages picker
  .eslintrc.cjs
  package-lock.json
  package.json
  src/assets/styles/_variables.scss
  src/assets/styles/main.scss
  src/components/nav/LanguagePicker.vue
  src/components/svg/ArrowDown.vue
  src/components/svg/LangIcon.vue
  src/layouts/Layout.astro
  src/layouts/Nav.astro
Due: eslint --fix, stylelint --fix

feat: nav sectionsand seo
  astro.config.mjs
  src/assets/styles/_mixins.scss
  src/assets/styles/_variables.scss
  src/assets/styles/main.scss
  src/components/nav/LanguagePicker.vue
  src/components/nav/LogoNav.astro
  src/components/svg/ArrowDown.vue
  src/composables/sections.ts
  src/layouts/Layout.astro
  src/layouts/Nav.astro
  src/pages/[lang]/movies/index.astro
  tsconfig.json
Due: eslint --fix, stylelint --fix

feat: fetch api function
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/home/MainBanner.vue
  src/components/nav/LanguagePicker.vue
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/pages/[lang]/index.astro
  src/services/useFetch.js
Due: eslint --fix, stylelint --fix

feat: nano stores
  .eslintrc.cjs
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/home/MainBanner.vue
  src/components/nav/LanguagePicker.vue
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/Layout.astro
  src/layouts/Nav.astro
  src/pages/[lang]/index.astro
  src/services/trendingMediaApi.js
  src/services/useFetch.js
  src/stores/data.ts
  src/stores/language.ts
  src/types/RegularMovie.ts
  src/types/detailedMovie.ts
Due: eslint --fix, stylelint --fix

feat: session storages to store fetch data
  src/components/home/MainBanner.vue
  src/composables/checkStoreUpdate.ts
  src/services/trendingMediaApi.js
  src/services/trendingMediaApi.ts
  src/services/useFetch.js
  src/stores/data.ts
Due: eslint --fix

feat: local api endpoints
  src/pages/api/[lang]/trending.ts
  src/services/trendingMediaApi.ts
  src/services/useFetch.ts
  src/services/useFetchLocal.ts
  src/types/DetailedMovie.ts
Due: eslint --fix

feat: swiper slider
  package-lock.json
  package.json
  src/assets/styles/_variables.scss
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/components/nav/LogoNav.astro
  src/components/svg/NextArrow.vue
  src/components/svg/PrevArrow.vue
  src/composables/sections.ts
  src/layouts/Nav.astro
Due: eslint --fix, stylelint --fix

feat: slider responsive
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/components/nav/LogoNav.astro
  src/components/svg/LogoZinxSvg.astro
  src/components/svg/LogoZinxSvg.vue
  src/i18n/ui.ts
Due: eslint --fix, stylelint --fix

feat: refactored swiper to latest version
  astro.config.mjs
  src/components/home/BannerSlider.vue
Due: none

feat: save different languages in session stores and dynamic buttons slider
  src/components/home/BannerSlider.vue
  src/services/trendingMediaApi.ts
Due: eslint --fix

feat: all types in an index
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/composables/sections.ts
  src/services/trendingMediaApi.ts
  src/stores/data.ts
  src/types/DetailedMovie.ts
  src/types/RegularMovie.ts
  src/types/index.ts
Due: eslint --fix

feat: banner description and main banner responsive
  src/assets/styles/_variables.scss
  src/assets/styles/main.scss
  src/components/home/BannerDescription.vue
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/types/RegularMovie.ts
Due: eslint --fix, stylelint --fix

feat: banner dynamic background
  src/components/home/BannerBg.vue
  src/components/home/BannerDescription.vue
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/types/RegularMovie.ts
Due: eslint --fix

chore: show poster image on resposive
  src/components/home/BannerBg.vue
Due: none

fix: click to close language picker
  src/assets/styles/_variables.scss
  src/components/home/BannerSlider.vue
  src/components/nav/LanguagePicker.vue
  src/layouts/Nav.astro
Due: eslint --fix, stylelint --fix

fix: click on language picker touch device
  src/components/nav/LanguagePicker.vue
  src/composables/checkTouchDevice.ts
Due: eslint --fix

fix: hover language picker
  src/components/nav/LanguagePicker.vue
Due: none

fix: slider styles in reload
  src/components/home/BannerSlider.vue
Due: none

chore: nav responsive
  .eslintrc.cjs
  .vscode/settings.json
  src/assets/styles/_variables.scss
  src/assets/styles/main.scss
  src/components/nav/LanguagePicker.vue
  src/components/nav/Nav.astro
  src/layouts/Layout.astro
  src/layouts/Nav.astro
Due: eslint --fix, stylelint --fix

fix: dynamic api local url
  src/services/useFetchLocal.ts
Due: eslint --fix

chore: load error page with stores
  src/assets/styles/_variables.scss
  src/components/common/LoadError.vue
  src/components/nav/LanguagePicker.vue
  src/components/svg/NoInternet.vue
  src/composables/checkStoreUpdate.ts
  src/composables/checkTouchDevice.ts
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/services/trendingMediaApi.ts
  src/stores/data.ts
  src/stores/language.ts
Due: eslint --fix, stylelint --fix

fix: nav styles
  src/components/nav/Nav.astro
Due: eslint --fix, stylelint --fix

style: main banner height responsive
  src/components/home/BannerBg.vue
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/components/nav/Nav.astro
  src/data/sliderBreakpoints.ts
Due: eslint --fix, stylelint --fix

style: responsive details
  .vscode/settings.json
  src/assets/styles/_mixins.scss
  src/components/home/BannerDescription.vue
  src/components/home/BannerSlider.vue
  src/components/nav/Nav.astro
Due: eslint --fix, stylelint --fix

feat: main banner bg transition
  src/components/home/BannerBg.vue
Due: none

feat: load page and home structure
  .vscode/settings.json
  src/components/Home.vue
  src/components/common/LoadError.vue
  src/components/common/LoadingPage.vue
  src/components/home/MainBanner.vue
  src/components/nav/Nav.astro
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
  src/services/trendingMediaApi.ts
  src/stores/data.ts
Due: eslint --fix, stylelint --fix

style: max body width
  src/assets/styles/_variables.scss
  src/assets/styles/main.scss
  src/components/nav/Nav.astro
Due: eslint --fix, stylelint --fix

feat: improved stores
  src/components/common/LoadError.vue
  src/components/common/LoadingPage.vue
  src/components/home/BannerBg.vue
  src/components/home/BannerDescription.vue
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/stores/data.ts
  src/types/RegularMovie.ts
Due: eslint --fix

style: padding main banner
  src/components/home/MainBanner.vue
Due: none

style: main banner linear gradient
  src/components/home/BannerBg.vue
Due: none

chore: prefetch to apis
  src/layouts/Layout.astro
Due: eslint --fix, stylelint --fix

chore: build dependencies
  .gitignore
  astro.config.mjs
  package-lock.json
  package.json
Due: none

style: language picker transition
  package-lock.json
  package.json
  src/assets/styles/main.scss
  src/components/home/BannerBg.vue
  src/components/nav/LanguagePicker.vue
Due: stylelint --fix

feat: media details section
  src/components/Media.vue
  src/components/common/LoadingPage.vue
  src/components/home/BannerSlider.vue
  src/composables/getIdAndType.ts
  src/composables/sections.ts
  src/layouts/Layout.astro
  src/pages/[lang]/media=[id]-[type]/index.astro
  src/services/specificMediaApi.ts
  src/types/DetailedTv.ts
  src/types/Subtypes.ts
  src/types/index.ts
Due: eslint --fix, stylelint --fix

fix: show error in media page
  src/components/Home.vue
  src/stores/data.ts
Due: eslint --fix

fix: dynamic language picker
  src/components/nav/LanguagePicker.vue
  src/components/nav/Nav.astro
  src/composables/changeUrlLang.ts
Due: eslint --fix, stylelint --fix

test: view transitions
  src/components/Media.astro
  src/components/Media.vue
  src/components/common/MediaBg.vue
  src/components/home/BannerDescription.vue
  src/components/home/BannerSlider.vue
  src/components/home/MainBanner.vue
  src/components/media/Header.astro
  src/composables/checkStoreUpdate.ts
  src/layouts/Layout.astro
  src/pages/[lang]/media=[id]-[type]/index.astro
Due: eslint --fix, stylelint --fix

fix: deploy bug
  src/components/Media.astro
Due: eslint --fix, stylelint --fix
